.bg-dark {
    background-color: #5e5377 !important;
}

.bg-nav {
    background-color: #200a23;
}

.bg-grey {
    background-color: #e3e3e3;
}

.bg-cardbad {
    background-color: rgb(241, 173, 170) !important;
    border-bottom: 3px solid #d3534f;
}

.alert-success {
    border-color: #7FC26E;
}

.alert-good {
    border: 1px solid #7FC26E;
}

.alert-good span {
    color: #59904c;
}

.alert-ok {
    border: 1px solid #FF9735;
}

.alert-ok span {
    color: #ac5605;
}

.alert-bad {
    border: 1px solid #e58c89;
}

.alert-bad span {
    color: #bd4440;
}

.cardok {
    border: 1px solid #7FC26E !important;
}

.cardbad {
    border: 1px solid #e58c89 !important;
}

.bg-cardok {
    background-color: #bce0b1 !important;
    border-bottom: 3px solid #599849;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: none;
}

.alert {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.navtop {
    height: 35px;
}

.navtop i {
    font-size: 25px;
}

.navtop i:hover {
    cursor: pointer;
}

.navtitle {
    font-size: 20px;
}

.btn-primary {
    background-color: #361f39 !important;
    border-color: #361f39;
}

button:hover {
    background-color: #200a23 !important;
    border-color: #200a23;
}

.stressResult,
#chartTitle,
#goodStressRec,
#badStressRec,
#medStressRec,
#infoText {
    display: none;
}

.stressResult i {
    font-size: 50px;
}

#badStress i {
    color: rgba(236, 82, 74, 1);
    font-size: 50px;

}

#goodStress i {
    color: rgba(127, 194, 110, 1);
    font-size: 50px;
}

#medStress i {
    color: rgba(255, 169, 87, 1);
}

#chartTitle {
    font-size: 13px;
}

.bg-lg-grn {
    background-color: #D1E7DD;
}

.bg-lg-red {
    background-color: #F8D7DA;
}

.bg-lg-yel {
    background-color: #FFF3CD;
}

.avg {
    font-size: 40px;
}

.avgnum {
    font-size: 23px;
}