.bg-dark {
    background-color: #5e5377 !important;
}

.bg-grey {
    background-color: #e3e3e3;
}

.navtop {
    height: 35px;
}

.navtop i {
     font-size: 25px;
}

.navtop i:hover {
    cursor: pointer;
}

.navtitle {
    font-size: 20px;
} 

.btn-primary {
    background-color: #361f39 !important;
    border-color: #361f39;
}

button:hover {
    background-color: #200a23 !important;
    border-color: #200a23;
}

.stressResult, #chartTitle, #goodStressRec, #badStressRec, #medStressRec {
    display: none;
}
.stressResult i {
    font-size: 50px;
}

#badStress i {
    color: rgba(236, 82, 74, 1);
    font-size: 50px;

}

#goodStress i {
    color: rgba(127, 194, 110, 1);
    font-size: 50px;
}

#medStress i {
    color: rgba(255, 169, 87, 1);
}

#chartTitle {
    font-size: 13px;
}

.bg-lg-grn {
    background-color: #D1E7DD;
}

.bg-lg-red {
    background-color: #F8D7DA;
}

.bg-lg-yel {
    background-color: #FFF3CD;
}

.avg {
    font-size: 40px;
}